{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | {{ user.username }}{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>

    <table id="user-detail" class="table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('user_index') }}">Back to the list</a>
            </li>
        </ul>
    {% endif %}

    <section id="posts">
        {% for post in user.posts %}
            {% include 'includes/post.html.twig' %}
        {% else %}
            <p>Il n'y a aucun message à afficher</p>
        {% endfor %}
        {#<div class="text-center">#}
            {#{{ pagination(list_post) }}#}
        {#</div>#}
    </section>
{% endblock %}
