{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Commentaires{% endblock %}

{% block head %}
    {{ parent() }}
    {{ pagination(comments, 'meta') }}
{% endblock %}

{% block admin %}
    <header>
        <h1>Commentaires</h1>
        <h2>Liste des commentaires</h2>
        <p>Ici vous pouvez modérer les commentaires laissés par les visiteurs de <strong>{{ site_name }}</strong>.</p>
    </header>
    {% include "admin/includes/_comment_tabs.html.twig" %}
    <section id="search">
        <div class="jumbotron">
            <form method="GET" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputPost">Article / Média</label>
                        <div class="col-sm-8">
                            <input type="text" name="post-title" id="inputPost" class="form-control"
                                   value="{{ app.request.get('post-title')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputUser">Auteur</label>
                        <div class="col-sm-8">
                            <input type="text" name="user-username" id="inputUser" class="form-control"
                                   value="{{ app.request.get('user-username')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputText">Commentaire</label>
                        <div class="col-sm-8">
                            <input type="text" name="text" id="inputText" class="form-control"
                                   value="{{ app.request.get('text')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="selectPublished">Publication</label>
                        <div class="col-sm-8">
                            <select name="b-published" id="selectPublished" class="form-control">
                                <option value="">Tous</option>
                                <option value="true"
                                        {% if app.request.get('b-published') == "true" %}selected{% endif %}>
                                    Publié
                                </option>
                                <option value="false"
                                        {% if app.request.get('b-published') == "false" %}selected{% endif %}>
                                    Non-publié
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right pull-right">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Filtrer ({{ comments.count }})
                        </button>
                        <button id="reset" class="btn btn-warning">
                            <span class="glyphicon glyphicon-remove"></span> Effacer
                        </button>
                    </div>

                    {# Appending query parameters when submitting form instead of replacing them, removing empty values #}
                    {% for index, value in app.request.query.all %}
                        {% if value != '' and index == 'page' or index == 'limit' or index == 'order' or index == 'way' %}
                            <input type="hidden" name="{{ index }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </section>

    <section id="page-list">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th colspan="2"
                        class="{{ app.request.query.get('order') == 'post-title' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_comment_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'post-title',
                            'way'   : app.request.query.get('order') == 'post-title'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Article
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'text' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_comment_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'text',
                            'way'   : app.request.query.get('order') == 'text'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Commentaire
                        </a>
                    </th>

                    <th colspan="2"
                        class="{{ app.request.query.get('order') == 'user-username' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_comment_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'user-username',
                            'way'   : app.request.query.get('order') == 'user-username'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Auteur
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'modified' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_comment_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'modified',
                            'way'   : app.request.query.get('order') == 'modified'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Date
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'published' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_comment_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'published',
                            'way'   : app.request.query.get('order') == 'published'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Publication
                        </a>
                    </th>

                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}

                    <tr>

                        <td>
                            {% if comment.post.imageFileName %}
                                <a href="{{ path('app_admin_post_index', { 'slug': comment.post.slug }) }}"
                                   class="cover"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Voir le détail de l'article &quot;{{ comment.post }}&quot;"
                                   style="padding-bottom: 60px; width: 60px; background-image: url('{{ comment.post.image ? comment.post.image|imagine_filter('thumbnail') : '//placehold.it/60?text=Image' }}');">
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_post_index', { 'slug': comment.post.slug }) }}"
                                   class="cover"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Voir le détail de l'article &quot;{{ comment.post }}&quot;"
                                   style="padding-bottom: 60px; width: 60px; background-image: url('{{ comment.post.image ? comment.post.image : '//placehold.it/60?text=Image' }}');">
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            {% if comment.post.type == 'post' %}
                                <a href="{{ path('app_admin_comment_index', { 'post': comment.post.title }) }}"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister tous les commentaires de l'article &quot;{{ comment.post }}&quot;">
                                    {{ comment.post }}
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_comment_index', { 'post': comment.post.title }) }}"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister tous les commentaires du média &quot;{{ comment.post }}&quot;">
                                    {{ comment.post }}
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_post_show', { 'slug': comment.post.slug }) }}#comment-{{ comment.id }}"
                               class="table-comment"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Afficher le commentaire complet">
                                <div class="table-text">
                                    {{ comment.text|striptags|truncate(255) }}
                                </div>
                            </a>
                        </td>

                        <td>
                            <a href="{{ path('app_admin_user_index', { 'user': comment.user.username }) }}"
                               class="cover"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Afficher le profil de &quot;{{ comment.user }}&quot;"
                               style="padding-bottom: 30px; width: 30px; background-image: url('{{ comment.user.avatar ? comment.user.avatar : asset('img/user.jpg') }}');">
                            </a>
                        </td>

                        <td>
                            <a href="{{ path('app_admin_comment_index', { 'user-username': comment.user.username }) }}"
                               class="label label-primary"
                               data-toggle="tooltip" data-placement="top"
                                    {% if comment.user.comments|length > 1 %}
                                        data-original-title="Lister les {{ comment.user.comments|length }} commentaires publiés par &quot;{{ comment.user }}&quot;"
                                    {% else %}
                                        data-original-title="Voir le commentaire publié par &quot;{{ comment.user }}&quot;"
                                    {% endif %}
                            >
                                {{ comment.user }}
                                <span class="badge-sm">
                                    {{ comment.user.comments|length }}
                                </span>
                            </a>
                        </td>

                        <td>
                            <span class="small"
                                  data-toggle="tooltip" data-placement="top"
                                    {% if comment.created|date('d/m/Y H:i:s') == comment.modified|date('d/m/Y H:i:s') %}
                                        data-original-title="Création"
                                    {% else %}
                                        data-original-title="Dernière modification"
                                    {% endif %}
                            >
                                {{ comment.modified|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            {% if comment.published %}
                                <a href="{{ path('app_admin_comment_publish', { 'id': comment.id, 'publish': 0, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Retirer la publication">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_comment_publish', { 'id': comment.id, 'publish': 1, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Publier ce commentaire">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_comment_edit', { 'id': comment.id, 'callback': app.request.uri|callback }) }}"
                               class="btn btn-warning btn-sm"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier le commentaire &quot;{{ comment }}&quot;"
                            >
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs">Modifier</span>
                            </a>
                        </td>

                        <td data-toggle="tooltip" data-placement="top"
                            data-original-title="Supprimer le commentaire &quot;{{ comment }}&quot;"
                        >
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target=".my-modal" data-item="{{ comment }}"
                                    data-path="{{ path('app_admin_comment_delete', { 'id': comment.id, 'callback': url(app.request.attributes.get('_route')) }) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Supprimer</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{ pagination(comments, 'smart') }}
        </div>
    </section>
    {% include "admin/includes/_delete-modal.html.twig" with { 'msg': 'le commentaire' } %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}