<form method="GET" class="form-horizontal">
    <div class="form-group">

        {% for input in form.inputs %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                {% if input.type == 'select' %}
                    <label class="control-label col-sm-4" for="select-{{ input.name }}">{{ input.label }}</label>
                    <div class="col-sm-8">
                        <select name="{{ input.name }}" id="select-{{ input.name }}" class="form-control">
                            <option value="">{{ input.default }}</option>
                            {% for option in input.options %}
                                <option value="{{ option.value }}"
                                        {% if app.request.get(input.name) == option.value %}selected{% endif %}>
                                    {{ option.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <label class="control-label col-sm-4" for="input-{{ input.name }}">{{ input.label }}</label>
                    <div class="col-sm-8">
                        <input type="{{ input.type }}" name="{{ input.name }}" id="input-{{ input.name }}"
                               class="form-control"
                               value="{{ app.request.get(input.name)|join(', ') }}"/>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right pull-right">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Filtrer {% if form.count %}({{ form.count }}){% endif %}
            </button>
            <button id="reset" class="btn btn-warning">
                <span class="glyphicon glyphicon-remove"></span> Effacer
            </button>
        </div>

        {# Appending query parameters when submitting form instead of replacing them, removing empty values #}
        {% for index, value in app.request.query.all %}
            {% if value != '' and index == 'page' or index == 'limit' or index == 'order' or index == 'way' %}
                <input type="hidden" name="{{ index }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

    </div>
</form>
