{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Récupération de compte{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="password-form" class="jumbotron">
            <div class="row">
                <h2 class="text-center">Récupération de compte</h2>
                <p class="text-center">Votre compte: <strong>{{ user }}</strong> à bien été récupéré.</p>
                <p class="text-center">L'adresse: <strong>{{ user.email }}</strong> est à nouveau votre adresse de
                    contact.</p>
                <p class="text-center">Pour terminer la procédure de récupération de compte vous devez choisir un
                    nouveau mot de passe.</p>
                {{ form_start(formPassword) }}
                {{ form_widget(formPassword) }}
                <input type="submit" class="btn btn-primary center-block" value="Valider"/>
                {{ form_end(formPassword) }}
            </div>
        </div>
    </div>
{% endblock %}
