{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | {{ user.username | capitalize }}{% endblock %}

{% block body %}
    <div id="profile-form" class="jumbotron">
        <h2 class="text-center">
            <span class="glyphicon glyphicon-edit pull-left"></span>
            Modifier votre profil
        </h2>
        <div class="text-center">
            {{ form_start(form_avatar) }}
            {{ form_widget(form_avatar) }}
            <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-send"></span>&nbsp;Valider</button>
            {{ form_end(form_avatar) }}
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-danger" href="{{ path('app_security_passwordchange', { 'id': user.id, 'callback': app.request.uri }) }}">
            Modifier mon mot de passe
        </a>
        <a class="btn btn-danger" href="{{ path('app_user_unsubscribe', { 'id': user.id, 'callback': app.request.uri }) }}">
            Supprimer mon compte
        </a>
    </div>
{% endblock %}
