{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | {{ user.username | capitalize }}{% endblock %}

{% block body %}

    {% include "includes/_user-profile.html.twig" %}

    <div class="center-block">
        <ul>
            <li><a href="#">Changer de nom d'utilisateur.</a></li>
        </ul>
        <ul>
            <li><a href="#">Changer d'adresse email.</a></li>
        </ul>
        <ul>
            <li><a href="#">Changer de mot de passe.</a></li>
        </ul>
        <ul>
            <li><a href="#">Changer de photo.</a></li>
        </ul>
    </div>

    <div id="profile-form" class="jumbotron">
        <h2 class="text-center"><span class="glyphicon glyphicon-user pull-left"></span>{{ user.username | capitalize }}</h2>
        <div class="text-center">
            {{ form_start(form_avatar) }}
            {{ form_widget(form_avatar) }}
            <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-send"></span>&nbsp;Envoyer</button>
            {{ form_end(form_avatar) }}
        </div>
    </div>
{% endblock %}
