{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création de mot de passe{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="password-form" class="jumbotron">
            <div class="row">
                <h2 class="text-center">Création de mot de passe</h2>
                <p class="text-center">Pour terminer votre inscription à {{ site_name }} vous devez choisir un mot de
                    passe.</p>
                {{ form_start(formPassword) }}
                {{ form_widget(formPassword) }}
                <input type="submit" class="btn btn-primary center-block" value="Valider"/>
                {{ form_end(formPassword) }}
            </div>
        </div>
    </div>
{% endblock %}
