{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création de mot de passe {% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="password-form" class="jumbotron">
        <div class="row">
            <h2 class="text-center">Création de mot de passe </h2>
            {{ form_start(form_password) }}
            {{ form_widget(form_password) }}
            <input type="submit" class="btn btn-primary center-block" value="Valider"/>
            {{ form_end(form_password) }}
        </div>
    </div>
{% endblock %}
