{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Inscription{% endblock %}

{% block body %}
    <div id="register-form" class="jumbotron">
        <div class="row">
            <h2 class="text-center">S'inscrire pour publier dans le livre d'or de Mat</h2>
            <p>Choisissez un nom d'utilisateur et renseignez votre email, vous reçevrez un lien pour valider votre compte dans votre boîte.</p>
            {{ form_start(form_register) }}
            {{ form_row(form_register.username) }}
            {{ form_row(form_register.email) }}
            <input type="submit" class="btn btn-primary center-block" value="Inscription"/>
            {{ form_end(form_register) }}
        </div>
    </div>
{% endblock %}
