{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | {{ user.username }}{% endblock %}

{% block body %}

    {% include 'includes/user-profile.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('user_index') }}">Edit {{ user.username }}'s profile</a>
            </li>
        </ul>
    {% endif %}

    <section id="posts">
        {% for post in user.posts %}
            {% include 'includes/post.html.twig' %}
        {% else %}
            <p>Il n'y a aucun message à afficher</p>
        {% endfor %}
        {#<div class="text-center">#}
        {#{{ pagination(list_post) }}#}
        {#</div>#}
    </section>
{% endblock %}
