{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Pages - Modifier {{ page.title }}{% endblock %}

{% block body %}
<div class="container-fluid">

	<div class="col-xs-12 col-md-2">
		{% include "admin/includes/_sidebar.html.twig" %}
	</div>

	<div class="col-xs-12 col-md-10">

		<header>
			<h1>Pages</h1>
			<h2>Modifier la page {{ page.title }}</h2>
            <p>Vous pouvez ici modifier la page {{ page.title }} de {{ site_name }}</p>
		</header>

        {% include "admin/includes/_page_tabs.html.twig" %}

		<section id="edit">
		</section>

	</div>

</div>
{% endblock %}
