{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Pages - Modifier {{ page.title }}{% endblock %}

{% block head %}
    {{ parent() }}
    {% if app.user %}
        <script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({selector: 'textarea', height: '250'});</script>
    {% endif %}
{% endblock %}

{% block admin %}
    <header>
        <h1>Pages</h1>
        <h2>Modifier la page &quot;{{ page.title }}&quot;</h2>
        <p>Ici vous pouvez modifier la page &quot;{{ page.title }}&quot; de {{ site_name }}</p>
    </header>
    {% include "admin/includes/_page_tabs.html.twig" %}
    <section id="edit">
        <div class="jumbotron">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary center-block">
                <span class="glyphicon glyphicon-send"></span>
                Valider
            </button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
