{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Pages{% endblock %}

{% block admin %}
    <header>
        <h1>Pages</h1>
        <h2>Liste des pages</h2>
        <p>Ici vous pouvez accèder à la liste des pages de <strong>{{ site_name }}</strong>.</p>
    </header>
    {% include "admin/includes/_page_tabs.html.twig" %}
    <section id="search">
        <div class="jumbotron">
            <form method="GET" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputTitle">Titre</label>
                        <div class="col-sm-8">
                            <input type="text" name="title" id="inputTitle" class="form-control"
                                   value="{{ app.request.get('title')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputSlug">Slug</label>
                        <div class="col-sm-8">
                            <input type="text" name="slug" id="inputSlug" class="form-control"
                                   value="{{ app.request.get('slug')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputSection">Section</label>
                        <div class="col-sm-8">
                            <input type="text" name="section" id="inputSection" class="form-control"
                                   value="{{ app.request.get('section')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputTag">Étiquette</label>
                        <div class="col-sm-8">
                            <input type="text" name="tag" id="inputTag" class="form-control"
                                   value="{{ app.request.get('tag')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="selectStatus">Publication</label>
                        <div class="col-sm-8">
                            <select name="published" id="selectStatus" class="form-control">
                                <option value="">Tous</option>
                                <option value="true"
                                        {% if app.request.get('published') == "true" %}selected{% endif %}>
                                    Publié
                                </option>
                                <option value="false"
                                        {% if app.request.get('published') == "false" %}selected{% endif %}>
                                    Non-publié
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right pull-right">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Filtrer ({{ pages.count }})
                        </button>
                        <button id="reset" class="btn btn-warning">
                            <span class="glyphicon glyphicon-remove"></span> Effacer
                        </button>
                    </div>

                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="order" value="{{ app.request.query.get('order', 'title') }}"/>
                    <input type="hidden" name="way" value="{{ app.request.query.get('way', 'ASC') }}"/>
                </div>

            </form>
        </div>
    </section>

    <section id="page-list">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="{{ app.request.query.get('order') == 'title' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'title',
                            'way'   : app.request.query.get('order') == 'title'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Titre
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'slug' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'slug',
                            'way'   : app.request.query.get('order') == 'slug'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Slug
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j-sections' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j-sections',
                            'way'   : app.request.query.get('order') == 'j-sections'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Sections/Galeries
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j-tags' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j-tags',
                            'way'   : app.request.query.get('order') == 'j-tags'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Étiquettes
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'views' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'views',
                            'way'   : app.request.query.get('order') == 'views'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Vues
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'created' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'created',
                            'way'   : app.request.query.get('order') == 'created'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Création
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'modified' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'modified',
                            'way'   : app.request.query.get('order') == 'modified'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Modification
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'published' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_page_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'published',
                            'way'   : app.request.query.get('order') == 'published'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Publication
                        </a>
                    </th>

                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>
                            <a href="{{ path('app_page_show', { 'slug': page.slug }) }}">
                                {{ page }}
                            </a>
                        </td>

                        <td>
                            {{ page.slug }}
                        </td>

                        <td>
                            {% if page.sections|length > 1 %}
                                <a href="{{ path('app_admin_section_index', { 'pages-title': page.title }) }}"
                                   class="label label-info"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ page.sections|length }} sections appartenant à la page &quot;{{ page }}&quot;"
                                >
                                    Sections
                                    <span class="badge-sm text-success">{{ page.sections|length }}</span>
                                </a>
                                <a href="{{ path('app_admin_section_index', { 'pages-title': page.title }) }}"
                                   class="label label-warning"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ page.sections|length }} galeries appartenant à la page &quot;{{ page }}&quot;"
                                >
                                    Galeries
                                    <span class="badge-sm text-success">{{ page.sections|length }}</span>
                                </a>
                                <br/>
                            {% endif %}

                            {% for section in page.sections %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_section_index', { 'title': section.title }) }}"
                                       class="label label-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de la section &quot;{{ section|truncate(20) }}&quot; appartenant à la page &quot;{{ page }}&quot;"
                                    >
                                        {{ section|truncate(20) }}
                                        <span class="badge-sm text-primary">{{ section.posts|length }}</span>
                                    </a><br/>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="La page &quot;{{ page }}&quot; ne contient aucune section"
                                >
                                    Aucune section
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            {% for tag in page.tags %}
                                <a href="{{ path('app_admin_page_index', app.request.query.all|merge({'tag' : tag.name})) }}"
                                   class="label label-{{ tag.type }}">
                                    {{ tag.name }}
                                </a><br/>
                            {% endfor %}
                        </td>

                        <td>
                            <span class="label label-info">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {% if page.views %}{{ page.views }}{% else %}0{% endif %}
                            </span>
                        </td>

                        <td>
                            <span class="small">
                                {{ page.created|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            <span class="small">
                                {{ page.modified|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            {% if page.published %}
                                <a href="{{ path('app_admin_page_publish', { 'id': page.id, 'publish': 0, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Retirer la publication">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_page_publish', { 'id': page.id, 'publish': 1, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Publier cette page">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_page_edit', { 'id': page.id, 'callback': app.request.uri|callback }) }}"
                               class="btn btn-warning btn-sm"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier la page &quot;{{ page }}&quot;"
                            >
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs">Modifier</span>
                            </a>
                        </td>

                        <td data-toggle="tooltip" data-placement="top"
                            data-original-title="Supprimer la page &quot;{{ page }}&quot;"
                        >
                            <button type="button"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="modal" data-target=".my-modal" data-item="{{ page }}"
                                    data-path="{{ path('app_admin_page_delete', { 'id': page.id, 'callback': app.request.uri|remove_query }) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Supprimer</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{ pagination(pages) }}
        </div>
    </section>
    {% include "admin/includes/_delete-page-modal.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}