{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ page.title }}{% endblock %}

{% block body %}
    <div class="container">
        <header class="page-header" style="background-image: url('{{ page.image }}')">
            <h1 class="page-title">{{ page.title }}</h1>
            {% if page.subtitle is defined %}<h2 class="page-subtitle">{{ page.subtitle }}</h2>{% endif %}
            {% if page.description is defined %}<p class="page-description">{{ page.description }}</p>{% endif %}
        </header>
        {% for section in page.sections %}
            <header class="section-header">
                <h1 class="section-title"></h1>
                <h2 class="section-subtitle"></h2>
                <p class="section-description"></p>
            </header>
            <section>
                {% for item in section.item %}
                    <div class="box">
                        <header class="box-header">
                            <h1 class="box-title"></h1>
                            <h2 class="box-subtitle"></h2>
                            <p class="box-description"></p>
                        </header>
                    </div>
                {% endfor %}
            </section>
        {% endfor %}
    </div>
{% endblock %}
