{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ page.title }}{% endblock %}

{% block admin %}
    <div class="container">
        {#<header class="page-header" style="background-image: url('{{ page.image }}')">#}
            {#<h1 class="page-title">{{ page.title }}</h1>#}
            {#{% if page.subtitle is defined %}<h2 class="page-subtitle">{{ page.subtitle }}</h2>{% endif %}#}
            {#{% if page.description is defined %}<p class="page-description">{{ page.description }}</p>{% endif %}#}
        {#</header>#}
        <header class="page-header">
            <h1 class="page-title">{{ page.title }}</h1>
        </header>
        {#{% for section in sections %}#}
            <section>
                <header class="section-header">
                    {#<h1 class="section-title">{{ section.title }}</h1>#}
                </header>
                <h1>Hello World!</h1>
                {#{% for item in section.items %}#}
                    {#<div class="box">#}
                        {#<header class="box-header">#}
                            {#<h1 class="box-title">{{ item.title }}</h1>#}
                        {#</header>#}
                    {#</div>#}
                {#{% endfor %}#}
            </section>
        {#{% endfor %}#}
    </div>
{% endblock %}
