{% if comment.published or is_granted('ROLE_ADMIN') %}
    <article class="panel panel-success comment">
        <header class="panel-heading">
            <h1 class="text-center">
                <span class="glyphicon glyphicon-comment pull-left"></span>&nbsp;
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if (comment.user.id == app.user.id) or is_granted('ROLE_ADMIN') %}
                        <div class="pull-right btn-group" role="group">
                            <a href="{{ path("app_comment_edit", { 'id': comment.id, 'callback': callback }) }}"
                               class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                               data-original-title="Éditer ce commentaire">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="{{ path("app_comment_delete", { 'id': comment.id, 'callback': callback | remove_url_query }) }}"
                               class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"
                               data-original-title="Supprimer ce commentaire">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </h1>
        </header>
        <div class="panel-body row">
            <div class="col-sm-12">{{ comment.text|raw|nl2br }}</div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="pull-left">
                    {% if comment.published %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="glyphicon glyphicon-ok-circle text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-send text-primary"></span>
                        {% endif %}
                        Publié le: {{ comment.modified|date('d/m/Y H:i:s') }}
                    {% else %}
                        <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                        Non-publié, création le: {{ comment.created|date('d/m/Y H:i:s') }}
                    {% endif %}
                </div>
                <div class="pull-right"><a href="{{ path('app_user_show', { 'slug': comment.user.slug }) }}">
                        {% if "ROLE_ADMIN" in comment.user.roles %}
                            <span class="glyphicon glyphicon-king"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-user"></span>
                        {% endif %}
                        &nbsp;{{ comment.user.username }}</a>&nbsp;
                </div>
            </div>
        </footer>
    </article>
{% endif %}