{% if post.published or is_granted('ROLE_ADMIN') %}
    <article class="panel panel-primary post">
        <header class="panel-heading">
            <h1 class="text-center">
                <a href="{{ path('app_post_show', {'slug': post.slug}) }}">
                    <span class="glyphicon glyphicon-envelope pull-left"></span>
                    {{ post.title }}
                </a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if (post.user.id == app.user.id) or is_granted('ROLE_ADMIN') %}
                        <div class="pull-right btn-group" role="group">
                            <a href="{{ path("app_post_edit",   { 'id': post.id, 'callback': callback }) }}"
                               class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier cet article">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="{{ path("app_post_delete", { 'id': post.id, 'callback': app.request.uri|remove_query }) }}"
                               class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top"
                               data-original-title="Supprimer cet article">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </h1>
        </header>
        <div class="panel-body">
            {% if post.image %}
                <div class="post-cover" style="background-image: url('{{ post.image }}')"></div>
            {% endif %}

            <div class="row{% if post.image %} post-body-cover{% else %} post-body-no-cover{% endif %}">
                <div class="col-xs-12 col-md-3 text-center">
                    <figure class="post-user{% if post.image %} post-user-cover{% endif %}">
                        <a href="{{ path('app_user_show', { 'slug': post.user.slug }) }}">
                            <img src="{{ post.user.avatar ? post.user.avatar : asset('img/user.jpg') }}"
                                 alt="{{ post.user.username }}" class="img-rounded img-responsive"/>
                        </a>
                    </figure>
                </div>
                <div class="col-xs-12 col-md-9">
                    {{ post.text|raw|nl2br }}
                </div>
                {% if post.embed %}
                    <div class="col-xs-12 col-md-9 text-center">
                        {{ post.embed|raw }}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="tags col-xs-12 col-sm-3">
                    {% for tag in post.tags %}
                        <a href="{{ path('app_post_index', { 'tag': tag.name }) }}"
                           class="label label-{{ tag.type }}">
                            {{ tag.name }}
                        </a>&nbsp;
                    {% endfor %}
                </div>

                <div class="comments col-xs-12 col-sm-3">
                    <span class="btn btn-success btn-sm">
                        Vues
                        <span class="badge">
                            {% if post.stat is defined %}
                                {% if post.stat.views %}{{ post.stat.views }}{% else %}0{% endif %}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </span>
                </div>

                <div class="comments col-xs-12 col-sm-3">
                    <a href="{{ path('app_post_like', {'slug': post.slug, 'callback': callback}) }}"
                       class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="badge">
                            {% if post.stat is defined %}
                                {% if post.stat.likes %}{{ post.stat.likes }}{% else %}0{% endif %}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                </div>

                <div class="comments col-xs-12 col-sm-3">
                    <a href="{{ path('app_post_show', {'slug': post.slug}) }}" class="btn btn-primary btn-sm">
                        Commentaires
                        <span class="badge">{{ post.comments|length }}</span>
                    </a>
                </div>
            </div>

        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="pull-left">
                    {% if post.published %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="glyphicon glyphicon-ok-circle text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-send text-primary"></span>
                        {% endif %}
                        Publié, créé le: {{ post.created|date('d/m/Y H:i:s') }}, modifié le: {{ post.modified|date('d/m/Y H:i:s') }}
                    {% else %}
                        <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                        Non-publié, créé le: {{ post.created|date('d/m/Y H:i:s') }}, modifié le: {{ post.modified|date('d/m/Y H:i:s') }}
                    {% endif %}
                </div>
                <div class="pull-right">
                    <a href="{{ path('app_user_show', { 'slug': post.user.slug }) }}">
                        {% if 'ROLE_SUPER_ADMIN' in post.user.roles %}
                            <span class="glyphicon glyphicon-king"></span>
                        {% elseif 'ROLE_ADMIN' in post.user.roles %}
                            <span class="glyphicon glyphicon-tower"></span>
                        {% elseif 'ROLE_SUPER_USER' in post.user.roles %}
                            <span class="glyphicon glyphicon-bishop"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-pawn"></span>
                        {% endif %}
                        {{ post.user.username }}
                    </a>
                </div>
            </div>
        </footer>
    </article>
{% endif %}