<div id="sidebar">
    <div class="user-avatar">
        <img src="{{ currentUser.avatar ? currentUser.avatar : asset('img/user.jpg') }}" alt="{{ currentUser.username }}"
             class="img-responsive">
    </div>

    <div class="sidebar-username">
        {{ currentUser.username }}
    </div>

    <div class="sidebar-roles">
        <ul>
            {% for role in currentUser.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
    </div>

    <nav class="sidebar-menu navbar-default">
        <ul class="nav nav-pills nav-stacked">
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_index' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_index') }}">
                    <i class="glyphicon glyphicon-home"></i>
                    Tableau de bord
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_pages' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-text-background"></i>
                    Pages
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_userlist' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_userlist') }}">
                    <i class="glyphicon glyphicon-user"></i>
                    Utilisateurs
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_invitation' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-send"></i>
                    invitations
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_presence' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-ok"></i>
                    Emargement
                </a>
            </li>
        </ul>
    </nav>
</div>