<div class="container">
    <div id="user-profile" class="row">

        <div class="user-avatar col-xs-12 col-sm-6">
            <img src="{{ user.avatar ? user.avatar : asset('img/user.jpg') }}" alt="{{ user }}"/>
        </div>

        <div id="user-detail" class="col-xs-12 col-sm-6">
            <table class="table-striped">
                <thead>
                <tr>
                    <td colspan="2">
                        <h1 class="text-center">{{ user }}</h1>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Utilisateur</th>
                    <td>{{ user }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>
                        {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                            <div class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-king"></span>
                                Super Administrateur
                            </div>
                        {% elseif 'ROLE_ADMIN' in user.roles %}
                            <div class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-tower"></span>
                                Administrateur
                            </div>
                        {% elseif 'ROLE_SUPER_USER' in user.roles %}
                            <div class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-bishop"></span>
                            </div>
                            Super Utilisateur
                        {% else %}
                            <div class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pawn"></span>
                                Utilisateur
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>
                            Modifier
                        </th>
                        <td>
                            <a href="{{ path('app_admin_admin_index') }}">{{ user }}</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="user-bio">{{ user.bio|raw }}</div>

    </div>

    <div id="toolbar" class="row">
        <div class="col-xs-12">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if (user.id == app.user.id) %}
                    <h4>M'envoyer un lien de connection en un clic par email.</h4>
                    <p>Pour reçevoir un lien de connexion rapide dans votre boite mail cliquez sur le bouton suivant:
                        <br/>
                        <a class="btn btn-success"
                           href="{{ path('app_security_create', {'id': user.id, 'action': 'user_login', 'callback': app.request.uri|callback}) }}">
                            Générer un lien
                        </a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>