<div id="user-profile" class="row">
    <div id="user-picture" class="col-xs-12 col-sm-6">
        <img src="https://placehold.it/200x200" alt="{{ user.username }}" />
    </div>
    <div id="user-detail" class="col-xs-12 col-sm-6">
        <table class="table-striped">
            <thead>
            <tr>
                <td colspan="2">
                    <h1 class="text-center">{{ user.username }}</h1>
                </td>
            </tr>
            </thead>
            </tbody>
            <tr>
                <th>Utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for role in user.roles %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>
                        Modifier
                    </th>
                    <td>
                        <a href="{{ path('user_index') }}">{{ user.username }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>