<ul class="nav navbar-nav">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ path("user_show", { 'username': user.username }) }}"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ user.username }}</a></li>
        <li><a href="{{ path("app_logout") }}"><span class="glyphicon glyphicon-off"></span>&nbsp;Déconnection</a></li>
    {% else %}
        <li><a href="{{ path("user_register") }}"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Inscription</a></li>
        <li><a href="{{ path("app_login") }}"><span class="glyphicon glyphicon-ok"></span>&nbsp;Connexion</a></li>
    {% endif %}
</ul>
{% if is_granted('ROLE_ADMIN') %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path("user_index") }}"><span class="glyphicon glyphicon-cog"></span>&nbsp;Utilisateurs</a></li>
    </ul>
{% endif %}