{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Articles{% endblock %}

{% block head %}
    {{ parent() }}
    {{ pagination(posts, 'meta') }}
{% endblock %}

{% block admin %}
    <header>
        <h1>Articles</h1>
        <h2>Liste des articles</h2>
        <p>Ici vous pouvez accèder à la liste des articles de <strong>{{ site_name }}</strong>.</p>
    </header>

    {{ menu('{
        "items": [
            {
                "label": "Liste",
                "route": "app_admin_post_index",
                "active": "app_admin_post_index",
                "icon": "glyphicon glyphicon-list"
            },
            {
                "label": "Ajouter",
                "route": "app_admin_post_new",
                "active": "app_admin_post_new",
                "callback": true,
                "icon": "glyphicon glyphicon-plus"
            },
            {
                "label": "Importer",
                "route": "app_admin_post_import",
                "active": "app_admin_post_import",
                "icon": "glyphicon glyphicon-import"
            },
            {
                "label": "Exporter",
                "route": "app_admin_post_export",
                "active": "app_admin_post_export",
                "icon": "glyphicon glyphicon-export"
            }
        ]
    }', 'tabs') }}

    <section id="search">
        <div class="jumbotron">

            {{ searchForm('{
                    "inputs": [
                        {
                            "type": "text",
                            "icon": "glyphicon glyphicon-text-color",
                            "name": "title",
                            "label": "Titre"
                        },
                        {
                            "type": "text",
                            "icon": "glyphicon glyphicon-comment",
                            "name": "text",
                            "label": "Contenu"
                        },
                        {
                            "type": "text",
                            "icon": "glyphicon glyphicon-user",
                            "name": "user-username",
                            "label": "Auteur"
                        },
                        {
                            "type": "text",
                            "icon": "glyphicon glyphicon-list-alt",
                            "name": "sections-title",
                            "label": "Sections"
                        },
                        {
                            "type": "text",
                            "icon": "glyphicon glyphicon-tag",
                            "name": "tags-name",
                            "label": "Étiquette"
                        },
                        {
                            "type": "select",
                            "name": "b-published",
                            "label": "Publication",
                            "icon": "glyphicon glyphicon-ok",
                            "placeholder": "Tous",
                            "options": [
                                {
                                    "name": "Publié",
                                    "value": "true"
                                },
                                {
                                    "name": "Non-Publié",
                                    "value": "false"
                                }
                            ]
                        },
                        {
                            "type": "buttonGroup",
                            "class": "col-xs-12 col-sm-6 pull-right",
                            "buttons": [
                                {
                                    "type": "reset",
                                    "label": "Réinitialiser",
                                    "icon": "glyphicon glyphicon-refresh",
                                    "class": "btn btn-warning"
                                },
                                {
                                    "type": "submit",
                                    "label": "Filtrer",
                                    "badge": '~posts|length~',
                                    "icon": "glyphicon glyphicon-filter"
                                }
                            ]
                        }
                    ]
                }') }}
        </div>
    </section>

    <section id="post-list">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="{{ app.request.query.get('order') == 'image' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'image',
                            'way'   : app.request.query.get('order') == 'image'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Image
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'title' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'title',
                            'way'   : app.request.query.get('order') == 'title'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Titre
                        </a>
                    </th>

                    {#<th class="{{ app.request.query.get('order') == 'slug' ? app.request.query.get('way', 'ASC') }}">#}
                        {#<a href="{{ path('app_admin_post_index', app.request.query.all|merge({#}
                            {#'page'  : 1,#}
                            {#'order' : 'slug',#}
                            {#'way'   : app.request.query.get('order') == 'slug'#}
                            {#and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">#}
                            {#Slug#}
                        {#</a>#}
                    {#</th>#}

                    <th colspan="2"
                        class="{{ app.request.query.get('order') == 'user-username' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'user-username',
                            'way'   : app.request.query.get('order') == 'user-username'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Auteur
                        </a>
                    </th>

                    {#<th class="{{ app.request.query.get('order') == 'text' ? app.request.query.get('way', 'ASC') }}">#}
                        {#<a href="{{ path('app_admin_post_index', app.request.query.all|merge({#}
                            {#'page'  : 1,#}
                            {#'order' : 'text',#}
                            {#'way'   : app.request.query.get('order') == 'text'#}
                            {#and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">#}
                            {#Contenu#}
                        {#</a>#}
                    {#</th>#}

                    <th class="{{ app.request.query.get('order') == 'c-comments' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-comments',
                            'way'   : app.request.query.get('order') == 'c-comments'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Commentaires
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'views' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'views',
                            'way'   : app.request.query.get('order') == 'views'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Vues
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'c-votes' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-votes',
                            'way'   : app.request.query.get('order') == 'c-votes'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Votes
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'c-sections' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-sections',
                            'way'   : app.request.query.get('order') == 'c-sections'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Sections
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'c-tags' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-tags',
                            'way'   : app.request.query.get('order') == 'c-tags'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Étiquettes
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'modified' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'modified',
                            'way'   : app.request.query.get('order') == 'modified'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Date
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'published' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'published',
                            'way'   : app.request.query.get('order') == 'published'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Publication
                        </a>
                    </th>

                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}

                    <tr>
                        <td>
                            {% if post.imageFileName %}
                                <a href="{{ path('app_post_show', { 'slug': post.slug }) }}" class="cover"
                                   style="padding-bottom: 80px; width: 80px; background-image: url('{{ post.image ? post.image|imagine_filter('thumbnail') : '//placehold.it/80?text=Image' }}');">
                                </a>
                            {% else %}
                                <a href="{{ path('app_post_show', { 'slug': post.slug }) }}" class="cover"
                                   style="padding-bottom: 80px; width: 80px; background-image: url('{{ post.image ? post.image : '//placehold.it/80?text=Image' }}');">
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_post_show', { 'slug': post.slug }) }}">
                                {{ post }}
                            </a>
                        </td>

                        {#<td>#}
                            {#{{ post.slug }}#}
                        {#</td>#}

                        <td>
                            <a href="{{ path('app_admin_user_index', { 'username': post.user.username }) }}"
                               class="cover"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Afficher les détails de &quot;{{ post.user }}&quot;"
                               style="padding-bottom: 30px; width: 30px; background-image: url('{{ post.user.avatar ? post.user.avatar : asset('img/user.jpg') }}');">
                            </a>
                        </td>

                        <td>
                            <a href="{{ path('app_admin_post_index', { 'user-username': post.user.username }) }}"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Lister tous les articles publiés par &quot;{{ post.user }}&quot;">
                                {{ post.user }}
                            </a>
                        </td>

                        {#<td>#}
                            {#<div class="table-text">#}
                                {#{{ post.text|striptags|truncate(255) }}#}
                            {#</div>#}
                        {#</td>#}

                        <td>
                            {% if post.comments|length > 1 %}
                                <a href="{{ path('app_admin_comment_index', { 'post-title': post.title }) }}"
                                   class="label label-success label-block"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ post.comments|length }} commentaires reçu par l'article &quot;{{ post }}&quot;"
                                >
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Commentaires
                                    <span class="badge-sm pull-right">{{ post.comments|length }}</span>
                                </a>
                            {% endif %}

                            {% for comment in post.comments %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_comment_index', { 'post-title' : post.title }) }}"
                                       class="label label-primary label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail du commentaire &quot;{{ comment|truncate(20) }}&quot; reçu par l'article &quot;{{ post }}&quot;"
                                    >
                                        <span class="label-text">
                                            {{ comment|slice(0, 50) }}
                                        </span>
                                    </a>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'article &quot;{{ post }}&quot; n'a reçu aucun commentaire"
                                >
                                    <span class="glyphicon glyphicon-comment"></span>
                                        Aucun commentaire
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            <span class="label label-info">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {% if post.views %}{{ post.views }}{% else %}0{% endif %}
                            </span>
                        </td>

                        <td>
                            <span class="label label-success">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                {% if post.votes is defined %}{{ post.votes|length }}{% else %}0{% endif %}
                            </span>
                        </td>

                        <td>
                            {% if post.sections|length > 1 %}
                                <a href="{{ path('app_admin_section_index', { 'post': post.title }) }}"
                                   class="label label-success label-block"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ post.sections|length }} sections contenant l'article &quot;{{ post }}&quot;"
                                >
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    Sections
                                    <span class="badge-sm pull-right">{{ post.sections|length }}</span>
                                </a>
                            {% endif %}

                            {% for section in post.sections %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_section_index', { 'title': section.title }) }}"
                                       class="label label-primary label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de la section &quot;{{ section|truncate(20) }}&quot; contenant l'article &quot;{{ post }}&quot;"
                                    >
                                        <span class="badge-sm pull-right">{{ section.posts|length }}</span>
                                        <span class="label-text">
                                            {{ section|slice(0, 50) }}
                                        </span>
                                    </a>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'article &quot;{{ post }}&quot; n'appartient à aucune section"
                                >
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    Aucune section
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            {% for tag in post.tags %}
                                <a href="{{ path('app_admin_post_index', app.request.query.all|merge({'tag' : tag.name})) }}"
                                   class="label label-{{ tag.label }}">
                                    {{ tag.name }}
                                </a><br/>
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'article &quot;{{ post }}&quot; ne possède aucune étiquette"
                                >
                                    <span class="glyphicon glyphicon-tag"></span>
                                    Aucune étiquette
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            <span class="small"
                                  data-toggle="tooltip" data-placement="top"
                                    {% if post.created|date('d/m/Y H:i:s') == post.modified|date('d/m/Y H:i:s') %}
                                        data-original-title="Création"
                                    {% else %}
                                        data-original-title="Dernière modification"
                                    {% endif %}
                            >
                                {{ post.modified|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            {% if post.published %}
                                <a href="{{ path('app_admin_post_publish', { 'id': post.id, 'publish': 0, 'callback': callback() }) }}"
                                   class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Retirer la publication de &quot;{{ post }}&quot;">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_post_publish', { 'id': post.id, 'publish': 1, 'callback': callback() }) }}"
                                   class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Publier &quot;{{ post }}&quot;">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_post_edit', { 'id': post.id, 'callback': callback() }) }}"
                               class="btn btn-warning btn-sm"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier l'article &quot;{{ post }}&quot;"
                            >
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs">Modifier</span>
                            </a>
                        </td>

                        <td data-toggle="tooltip" data-placement="top"
                            data-original-title="Supprimer l'article &quot;{{ post }}&quot;"
                        >
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target=".my-modal" data-item="{{ post }}"
                                    data-path="{{ path('app_admin_post_delete', { 'id': post.id, 'callback': url(app.request.attributes.get('_route')) }) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Supprimer</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{ pagination(posts, 'select_with_icon') }}
            {{ pagination(posts, 'smart') }}
        </div>
    </section>
    {% include "admin/includes/_delete-modal.html.twig" with { 'msg': 'l\'article', 'msg2': 'et toutes ses commentaires' } %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('bundles/tangomanfront/js/tangoman-front-bundle.js') }}"></script>
{% endblock %}