{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Articles{% endblock %}

{% block admin %}
    <header>
        <h1>Articles</h1>
        <h2>Liste des articles</h2>
        <p>Ici vous pouvez accèder à la liste des articles de <strong>{{ site_name }}</strong>.</p>
    </header>
    {% include "admin/includes/_post_tabs.html.twig" %}

    <section id="search">
        <div class="jumbotron">
            <form method="GET" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputTitle">Titre</label>
                        <div class="col-sm-8">
                            <input type="text" name="title" id="inputTitle" class="form-control"
                                   value="{{ app.request.get('title') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputSlug">Slug</label>
                        <div class="col-sm-8">
                            <input type="text" name="slug" id="inputSlug" class="form-control"
                                   value="{{ app.request.get('slug') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputUser">Auteur</label>
                        <div class="col-sm-8">
                            <input type="text" name="user" id="inputUser" class="form-control"
                                   value="{{ app.request.get('user') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputText">Contenu</label>
                        <div class="col-sm-8">
                            <input type="text" name="text" id="inputText" class="form-control"
                                   value="{{ app.request.get('text') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputPage">Section</label>
                        <div class="col-sm-8">
                            <input type="text" name="s_page" id="inputPage" class="form-control"
                                   value="{{ app.request.get('s_page') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputTag">Étiquette</label>
                        <div class="col-sm-8">
                            <input type="text" name="tag" id="inputTag" class="form-control"
                                   value="{{ app.request.get('tag') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="selectPublished">Publication</label>
                        <div class="col-sm-8">
                            <select name="published" id="selectPublished" class="form-control">
                                <option value="">Tous</option>
                                <option value="true"
                                        {% if app.request.get('published') == "true" %}selected{% endif %}>
                                    Publié
                                </option>
                                <option value="false"
                                        {% if app.request.get('published') == "false" %}selected{% endif %}>
                                    Non-publié
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right pull-right">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Filtrer ({{ posts.count }})
                        </button>
                        <button id="reset" class="btn btn-warning">
                            <span class="glyphicon glyphicon-remove"></span> Effacer
                        </button>
                    </div>

                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="order" value="{{ app.request.query.get('order', 'title') }}"/>
                    <input type="hidden" name="way" value="{{ app.request.query.get('way', 'ASC') }}"/>
                </div>
            </form>
        </div>
    </section>

    <section id="post-list">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="{{ app.request.query.get('order') == 'image' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'image',
                            'way'   : app.request.query.get('order') == 'image'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Image
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'title' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'title',
                            'way'   : app.request.query.get('order') == 'title'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Titre
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'slug' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'slug',
                            'way'   : app.request.query.get('order') == 'slug'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Slug
                        </a>
                    </th>

                    <th colspan="2"
                        class="{{ app.request.query.get('order') == 'user.username' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'user.username',
                            'way'   : app.request.query.get('order') == 'user.username'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Auteur
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'text' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'text',
                            'way'   : app.request.query.get('order') == 'text'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Contenu
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j_comments' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j_comments',
                            'way'   : app.request.query.get('order') == 'j_comments'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Commentaires
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'views' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'views',
                            'way'   : app.request.query.get('order') == 'views'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Vues
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j_sections' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j_sections',
                            'way'   : app.request.query.get('order') == 'j_sections'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Sections
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j_tags' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j_tags',
                            'way'   : app.request.query.get('order') == 'j_tags'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Étiquettes
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'created' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'created',
                            'way'   : app.request.query.get('order') == 'created'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Création
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'modified' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'modified',
                            'way'   : app.request.query.get('order') == 'modified'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Modification
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'published' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_post_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'published',
                            'way'   : app.request.query.get('order') == 'published'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Publication
                        </a>
                    </th>

                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    {% set post = post[0] %}
                    <tr>
                        <td>
                            {% if post.imageFileName %}
                                <a href="{{ path('app_post_show', { 'slug': post.slug }) }}" class="cover"
                                   style="padding-bottom: 80px; width: 80px; background-image: url('{{ post.image ? post.image|imagine_filter('thumbnail') : '//placehold.it/80?text=Image' }}');">
                                </a>
                            {% else %}
                                <a href="{{ path('app_post_show', { 'slug': post.slug }) }}" class="cover"
                                   style="padding-bottom: 80px; width: 80px; background-image: url('{{ post.image ? post.image : '//placehold.it/80?text=Image' }}');">
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_post_show', { 'slug': post.slug }) }}">
                                {{ post }}
                            </a>
                        </td>

                        <td>
                            {{ post.slug }}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_user_index', { 'user': post.user.username }) }}" class="cover"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Afficher les détails de &quot;{{ post.user }}&quot;"
                               style="padding-bottom: 30px; width: 30px; background-image: url('{{ post.user.avatar ? post.user.avatar : asset('img/user.jpg') }}');">
                            </a>
                        </td>

                        <td>
                            <a href="{{ path('app_admin_post_index', { 'user': post.user.username }) }}"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Lister tous les articles publiés par &quot;{{ post.user }}&quot;">
                                {{ post.user }}
                            </a>
                        </td>

                        <td>
                            <div class="table-text">
                                {{ post.text|striptags|truncate(255) }}
                            </div>
                        </td>

                        <td>
                            {% if post.comments|length > 1 %}
                                <a href="{{ path('app_admin_comment_index', { 'post' : post.title }) }}"
                                   class="label label-success"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ post.comments|length }} commentaires reçu par l'article &quot;{{ post }}&quot;"
                                >
                                    Commentaires
                                    <span class="badge-sm text-success">{{ post.comments|length }}</span>
                                </a>
                            {% elseif post.comments|length > 0 %}
                                {% for comment in post.comments %}
                                    <a href="{{ path('app_admin_comment_index', { 'post' : post.title }) }}"
                                       class="label label-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail du commentaire &quot;{{ comment }}&quot; reçu par l'article &quot;{{ post }}&quot;"
                                    >
                                        {{ comment|truncate(15) }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'article &quot;{{ post }}&quot; n'a reçu aucun commentaire"
                                >
                                        Aucun commentaire
                                    </span>
                            {% endif %}
                        </td>

                        <td>
                            <span class="label label-success">
                                {% if post.views %}{{ post.views }}{% else %}0{% endif %}
                            </span>
                        </td>

                        <td>
                            {% if post.sections|length > 1 %}
                                <a href="{{ path('app_admin_section_index', { 'post': post.title }) }}"
                                   class="label label-success"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ post.sections|length }} sections contenant l'article &quot;{{ post }}&quot;"
                                >
                                    Sections
                                    <span class="badge-sm text-success">{{ post.sections|length }}</span>
                                </a><br/>
                            {% endif %}

                            {% for section in post.sections %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_section_index', { 'title': section.title }) }}"
                                       class="label label-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de la section &quot;{{ section|truncate(20) }}&quot; contenant l'article &quot;{{ post }}&quot;"
                                    >
                                        {{ section|truncate(20) }}
                                        <span class="badge-sm text-primary">{{ section.posts|length }}</span>
                                    </a><br/>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'article &quot;{{ post }}&quot; n'appartient à aucune section"
                                >
                                    Aucune section
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            {% for tag in post.tags %}
                                <a href="{{ path('app_admin_post_index', app.request.query.all|merge({'tag' : tag.name})) }}"
                                   class="label label-{{ tag.type }}">
                                    {{ tag.name }}
                                </a><br/>
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'article &quot;{{ post }}&quot; ne possède aucune étiquette"
                                >Aucune étiquette</span>
                            {% endfor %}
                        </td>

                        <td>
                            <span class="small">
                                {{ post.created|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            <span class="small">
                                {{ post.modified|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            {% if post.published %}
                                <a href="{{ path('app_admin_post_publish', { 'id': post.id, 'publish': 0, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Retirer la publication de &quot;{{ post }}&quot;">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_post_publish', { 'id': post.id, 'publish': 1, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Publier &quot;{{ post }}&quot;">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_post_edit', { 'id': post.id, 'callback': app.request.uri|callback }) }}"
                               class="btn btn-warning btn-sm"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier l'article &quot;{{ post }}&quot;"
                            >
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs">Modifier</span>
                            </a>
                        </td>

                        <td data-toggle="tooltip" data-placement="top"
                            data-original-title="Supprimer l'article &quot;{{ post }}&quot;"
                        >
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target=".my-modal" data-item="{{ post }}"
                                    data-path="{{ path('app_admin_post_delete', { 'id': post.id, 'callback': app.request.uri|remove_query }) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Supprimer</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{ pagination(posts) }}
        </div>
    </section>
    {% include "admin/includes/_delete-post-modal.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}