{% extends "::email-base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ user.username|capitalize }}</h1>
    <p>
        Nous regrettons de vous voir résillier votre adhésion à
        <a href="{{ absolute_url(path('homepage')) }}">{{ domain_name }}</a>.
    </p>
    <p>Pour confirmer votre désinscription cliquez sur ce bouton:<br/>
        <a class="btn" href="{{ absolute_url(path('app_token_call', {'token': msg.token })) }}">
            Me désinscrire
        </a>
    </p>
    <p>Ce lien n'est valable que pour une durée de 24 heures.</p>
    <p>Si vous n'êtes pas à l'origine de cette demande il est probable que votre compte ait été compromi,
        nous vous recommandons fortement de
        <a href="{{ absolute_url(path('app_token_call', {'token': msg.reset })) }}">renouveller votre mot de passe</a>.
    </p>
    <p>Cordialement</p>
{% endblock %}