{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Articles{% endblock %}

{% block head %}
    {{ parent() }}
    {{ pagination(listMedia, 'meta') }}
{% endblock %}

{% block admin %}
    <header>
        <h1>Medias</h1>
        <h2>Liste des medias</h2>
        <p>Ici vous pouvez accèder à la liste des médias de <strong>{{ site_name }}</strong>.</p>
    </header>
    {% include "admin/includes/_media_tabs.html.twig" %}

    <section id="search">
        <div class="jumbotron">
            <form method="GET" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputTitle">Titre</label>
                        <div class="col-sm-8">
                            <input type="text" name="title" id="inputTitle" class="form-control"
                                   value="{{ app.request.get('title') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputLink">Lien</label>
                        <div class="col-sm-8">
                            <input type="text" name="link" id="inputLink" class="form-control"
                                   value="{{ app.request.get('link')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputCategory">Type</label>
                        <div class="col-sm-8">
                            <input type="text" name="type" id="inputCategory" class="form-control"
                                   value="{{ app.request.get('type')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputText">Description</label>
                        <div class="col-sm-8">
                            <input type="text" name="text" id="inputText" class="form-control"
                                   value="{{ app.request.get('text')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputUser">Auteur</label>
                        <div class="col-sm-8">
                            <input type="text" name="user-username" id="inputUser" class="form-control"
                                   value="{{ app.request.get('user-username')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputPage">Section</label>
                        <div class="col-sm-8">
                            <input type="text" name="sections-title" id="inputPage" class="form-control"
                                   value="{{ app.request.get('sections-title')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="inputTag">Étiquette</label>
                        <div class="col-sm-8">
                            <input type="text" name="tags-name" id="inputTag" class="form-control"
                                   value="{{ app.request.get('tags-name')|join(', ') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="control-label col-sm-4" for="selectPublished">Publication</label>
                        <div class="col-sm-8">
                            <select name="b-published" id="selectPublished" class="form-control">
                                <option value="">Tous</option>
                                <option value="true"
                                        {% if app.request.get('b-published') == "true" %}selected{% endif %}>
                                    Publié
                                </option>
                                <option value="false"
                                        {% if app.request.get('b-published') == "false" %}selected{% endif %}>
                                    Non-publié
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right pull-right">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Filtrer ({{ listMedia.count }})
                        </button>
                        <button id="reset" class="btn btn-warning">
                            <span class="glyphicon glyphicon-remove"></span> Effacer
                        </button>
                    </div>

                    {# Appending query parameters when submitting form instead of replacing them, removing empty values #}
                    {% for index, value in app.request.query.all %}
                        {% if value != '' and index == 'page' or index == 'limit' or index == 'order' or index == 'way' %}
                            <input type="hidden" name="{{ index }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </section>

    <section id="media-list">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="{{ app.request.query.get('order') == 'image' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'image',
                            'way'   : app.request.query.get('order') == 'image'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Image
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'title' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'title',
                            'way'   : app.request.query.get('order') == 'title'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Titre
                        </a>
                    </th>

                    <th colspan="2"
                        class="{{ app.request.query.get('order') == 'user-username' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'user-username',
                            'way'   : app.request.query.get('order') == 'user-username'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Auteur
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'type' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'type',
                            'way'   : app.request.query.get('order') == 'type'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Type
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'link' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'link',
                            'way'   : app.request.query.get('order') == 'link'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Lien
                        </a>
                    </th>

                    {#<th class="{{ app.request.query.get('order') == 'text' ? app.request.query.get('way', 'ASC') }}">#}
                        {#<a href="{{ path('app_admin_media_index', app.request.query.all|merge({#}
                            {#'page'  : 1,#}
                            {#'order' : 'text',#}
                            {#'way'   : app.request.query.get('order') == 'text'#}
                            {#and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">#}
                            {#Description#}
                        {#</a>#}
                    {#</th>#}

                    <th class="{{ app.request.query.get('order') == 'c-comments' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-comments',
                            'way'   : app.request.query.get('order') == 'c-comments'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Commentaires
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'views' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'views',
                            'way'   : app.request.query.get('order') == 'views'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Vues
                        </a>
                    </th>


                    <th class="{{ app.request.query.get('order') == 'c-votes' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-votes',
                            'way'   : app.request.query.get('order') == 'c-votes'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Votes
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'c-sections' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-sections',
                            'way'   : app.request.query.get('order') == 'c-sections'
                            and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                            Galeries
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'c-tags' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'c-tags',
                            'way'   : app.request.query.get('order') == 'c-tags'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Étiquettes
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'modified' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'modified',
                            'way'   : app.request.query.get('order') == 'modified'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Date
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'published' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_media_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'published',
                            'way'   : app.request.query.get('order') == 'published'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Publication
                        </a>
                    </th>

                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for media in listMedia %}

                    <tr>
                        <td>
                            {% if media.imageFileName %}
                                <a href="{{ media.image }}" target="_blank" class="cover"
                                   style="padding-bottom: 80px; width: 80px; background-image: url('{{ media.image ? media.image|imagine_filter('thumbnail') : '//placehold.it/80?text=Image' }}');">
                                </a>
                            {% else %}
                                <a href="{{ path('app_post_show', { 'slug': media.slug }) }}" class="cover"
                                   style="padding-bottom: 80px; width: 80px; background-image: url('{{ media.image ? media.image : '//placehold.it/80?text=Image' }}');">
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_media_show', { 'slug': media.slug }) }}">
                                {{ media }}
                            </a>
                        </td>

                        <td>
                            <a href="{{ path('app_admin_user_index', { 'user': media.user.username }) }}" class="cover"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Afficher les détails de &quot;{{ media.user }}&quot;"
                               style="padding-bottom: 30px; width: 30px; background-image: url('{{ media.user.avatar ? media.user.avatar : asset('img/user.jpg') }}');">
                            </a>
                        </td>

                        <td>
                            <a href="{{ path('app_admin_media_index', { 'user': media.user.username }) }}"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Lister tous les médias publiés par &quot;{{ media.user }}&quot;">
                                {{ media.user }}
                            </a>
                        </td>

                        <td>
                            <span class="label label-success">
                                {{ media.type }}
                            </span>
                        </td>

                        <td class="table-wrap">
                            <a href="{{ media.link }}" target="_blank">
                                {{ absolute_url(media.link) }}
                            </a>
                        </td>

                        {#<td>#}
                            {#<div class="table-text">#}
                                {#{{ media.text|striptags|truncate(255) }}#}
                            {#</div>#}
                        {#</td>#}

                        <td>
                            {% if media.comments|length > 1 %}
                                <a href="{{ path('app_admin_comment_index', { 'media-title' : media.title }) }}"
                                   class="label label-success label-block"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ media.comments|length }} commentaires reçu par le média &quot;{{ media }}&quot;"
                                >
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Commentaires
                                    <span class="badge-sm pull-right">{{ media.comments|length }}</span>
                                </a>
                            {% endif %}

                            {% for comment in media.comments %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_comment_index', { 'post-title' : media.title }) }}"
                                       class="label label-primary label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail du commentaire &quot;{{ comment }}&quot; reçu par le média &quot;{{ media }}&quot;"
                                    >
                                        <span class="label-text">
                                            {{ comment|slice(0, 50) }}
                                        </span>
                                    </a>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="Le média &quot;{{ media }}&quot; n'a reçu aucun commentaire"
                                >
                                    <span class="glyphicon glyphicon-comment"></span>
                                        Aucun commentaire
                                    </span>
                            {% endfor %}
                        </td>

                        <td>
                            <span class="label label-info">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {% if media.views %}{{ media.views }}{% else %}0{% endif %}
                            </span>
                        </td>

                        <td>
                            <span class="label label-success">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                {% if media.votes is defined %}{{ media.votes|length }}{% else %}0{% endif %}
                            </span>
                        </td>

                        <td>
                            {% if media.sections|length > 1 %}
                                <a href="{{ path('app_admin_gallery_index', { 'media': media.title }) }}"
                                   class="label label-success"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ media.sections|length }} sections contenant le média &quot;{{ media }}&quot;"
                                >
                                    Sections
                                    <span class="badge-sm pull-right">{{ media.sections|length }}</span>
                                </a><br/>
                            {% endif %}

                            {% for section in media.sections %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_gallery_index', { 'title': section.title }) }}"
                                       class="label label-primary label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de la galerie &quot;{{ section|truncate(20) }}&quot; contenant le média &quot;{{ media }}&quot;"
                                    >
                                        <span class="badge-sm pull-right">{{ section.posts|length }}</span>
                                        <span class="label-text">
                                            {{ section|slice(0, 50) }}
                                        </span>
                                    </a><br/>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="Le média &quot;{{ media }}&quot; n'appartient à aucune galerie"
                                >
                                    Aucune galerie
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            {% for tag in media.tags %}
                                <a href="{{ path('app_admin_media_index', app.request.query.all|merge({'tag-name' : tag.name})) }}"
                                   class="label label-{{ tag.label }}">
                                    {{ tag.name }}
                                </a><br/>
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="Le média &quot;{{ media }}&quot; ne possède aucune étiquette"
                                >
                                    <span class="glyphicon glyphicon-tag"></span>
                                    Aucune étiquette
                                </span>
                            {% endfor %}
                        </td>
                        <td>
                            <span class="small"
                                  data-toggle="tooltip" data-placement="top"
                                  {% if media.created|date('d/m/Y H:i:s') == media.modified|date('d/m/Y H:i:s') %}
                                    data-original-title="Création"
                                  {% else %}
                                    data-original-title="Dernière modification"
                                  {% endif %}
                            >
                                {{ media.modified|date('d/m/Y H:i:s') }}
                            </span>
                        </td>

                        <td>
                            {% if media.published %}
                                <a href="{{ path('app_admin_media_publish', { 'id': media.id, 'publish': 0, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Retirer la publication de &quot;{{ media }}&quot;">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            {% else %}
                                <a href="{{ path('app_admin_media_publish', { 'id': media.id, 'publish': 1, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top"
                                   data-original-title="Publier &quot;{{ media }}&quot;">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_media_edit', { 'id': media.id, 'callback': app.request.uri|callback }) }}"
                               class="btn btn-warning btn-sm"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier le média &quot;{{ media }}&quot;"
                            >
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs">Modifier</span>
                            </a>
                        </td>

                        <td data-toggle="tooltip" data-placement="top"
                            data-original-title="Supprimer le média &quot;{{ media }}&quot;"
                        >
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target=".my-modal" data-item="{{ media }}"
                                    data-path="{{ path('app_admin_media_delete', { 'id': media.id, 'callback': url(app.request.attributes.get('_route')) }) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Supprimer</span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{ pagination(listMedia, 'select_with_icon') }}
            {{ pagination(listMedia, 'smart') }}
        </div>
    </section>
    {% include "admin/includes/_delete-modal.html.twig" with { 'msg': 'le média', 'msg2': 'et tous ses commentaires' } %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}