<div id="sidebar" class="col-xs-12 col-sm-1 col-lg-2">

    <div class="sidebar-avatar">
        <div class="user-avatar">
            <img src="{{ currentUser.avatar ? currentUser.avatar : asset('img/user.jpg') }}"
                 alt="{{ currentUser.username }}">
        </div>

        <div class="sidebar-username">
            {{ currentUser.username }}
        </div>

        <div class="sidebar-roles">
            {% if 'ROLE_SUPER_ADMIN' in currentUser.roles %}
                <div class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-king"></span>
                    Super Administrateur
                </div>
            {% elseif 'ROLE_ADMIN' in currentUser.roles %}
                <div class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-tower"></span>
                    Administrateur
                </div>
            {% elseif 'ROLE_SUPER_USER' in currentUser.roles %}
                <div class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-bishop"></span>
                </div>
                Super Utilisateur
            {% else %}
                <div class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-pawn"></span>
                    Utilisateur
                </div>
            {% endif %}
        </div>
    </div>

    <nav class="sidebar-menu navbar navbar-default">
        <ul class="nav nav-pills nav-stacked">

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_admin_index' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_admin_index') }}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-label">Tableau de bord</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_page' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_page_index') }}">
                    <span class="glyphicon glyphicon-file"></span>
                    <span class="sidebar-label">Pages</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_section' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_section_index') }}">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span class="sidebar-label">Sections</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_gallery' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_gallery_index') }}">
                    <span class="glyphicon glyphicon-picture"></span>
                    <span class="sidebar-label">Galeries</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_post' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_post_index') }}">
                    <span class="glyphicon glyphicon-text-color"></span>
                    <span class="sidebar-label">Articles</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_media' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_media_index') }}">
                    <span class="glyphicon glyphicon-music"></span>
                    <span class="sidebar-label">Medias</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_comment' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_comment_index', { 'limit': 25 }) }}">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="sidebar-label">Commentaires</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_tag' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_tag_index') }}">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    <span class="sidebar-label">Étiquettes</span>
                </a>
            </li>

            <li{% if app.request.attributes.get('_route') starts with 'app_admin_user' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_user_index') }}">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="sidebar-label">Utilisateurs</span>
                </a>
            </li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li{% if app.request.attributes.get('_route') starts with 'app_superadmin_role' %} class="active"{% endif %}>
                    <a href="{{ path('app_superadmin_role_index') }}">
                        <span class="glyphicon glyphicon-king"></span>
                        <span class="sidebar-label">Roles</span>
                    </a>
                </li>

                <li{% if app.request.attributes.get('_route') starts with 'app_superadmin_privilege' %} class="active"{% endif %}>
                    <a href="{{ path('app_superadmin_privilege_index', { 'limit': 25 }) }}">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="sidebar-label">Privileges</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>