<div id="sidebar">
    <div class="user-avatar">
        <img src="{{ currentUser.avatar ? currentUser.avatar : asset('img/user.jpg') }}" alt="{{ currentUser.username }}">
    </div>

    <div class="sidebar-username">
        {{ currentUser.username }}
    </div>

    <div class="sidebar-roles">
        {% if 'ROLE_SUPER_ADMIN' in currentUser.roles %}
            <div class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-king"></span>
                Super Administrateur
            </div>
        {% elseif 'ROLE_ADMIN' in currentUser.roles %}
            <div class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-tower"></span>
                Administrateur
            </div>
        {% elseif 'ROLE_SUPER_USER' in currentUser.roles %}
            <div class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-bishop"></span>
            </div>
            Super Utilisateur
        {% else %}
            <div class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pawn"></span>
                Utilisateur
            </div>
        {% endif %}
    </div>

    <nav class="sidebar-menu navbar navbar-default">
        <ul class="nav nav-pills nav-stacked">
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_admin_index' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_admin_index') }}">
                    <i class="glyphicon glyphicon-dashboard"></i>
                    Tableau de bord
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_page' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_page_index') }}">
                    <i class="glyphicon glyphicon-file"></i>
                    Pages
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_section' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-text-background"></i>
                    Sections
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_post' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-text-color"></i>
                    Articles
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_tag' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-bookmark"></i>
                    Étiquettes
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_media' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-music"></i>
                    Medias
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_gallery' %} class="active"{% endif %}>
                <a href="#">
                    <i class="glyphicon glyphicon-picture"></i>
                    Galeries
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_user' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_user_index') }}">
                    <i class="glyphicon glyphicon-user"></i>
                    Utilisateurs
                </a>
            </li>
            <li{% if app.request.attributes.get('_route') starts with 'app_admin_privilege' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_privilege_index') }}">
                    <i class="glyphicon glyphicon-king"></i>
                    Privilèges
                </a>
            </li>
        </ul>
    </nav>
</div>