{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Étiquettes - Modifier {{ tag.name }}{% endblock %}

{% block head %}
    {{ parent() }}
    {% if app.user %}
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({selector: 'textarea', height: '250'});</script>
    {% endif %}
{% endblock %}

{% block admin %}
    <header>
        <h1>Étiquettes</h1>
        <h2>Modifier l'étiquette &quot;{{ tag.name }}&quot;</h2>
        <p>Ici vous pouvez modifier l'étiquettes &quot;{{ tag.name }}&quot; de {{ site_name }}</p>
    </header>

    {{ menu('{
        "items": [
            {
                "label": "Liste",
                "route": "app_admin_tag_index",
                "active": "app_admin_tag_index",
                "icon": "glyphicon glyphicon-list"
            },
            {
                "label": "Ajouter",
                "route": "app_admin_tag_new",
                "active": "app_admin_tag_new",
                "callback": true,
                "icon": "glyphicon glyphicon-plus"
            }
        ]
    }', 'tabs') }}

    <section id="edit">
        <div class="jumbotron">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Valider
                </button>
                <a href="{{ path('app_admin_tag_index') }}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
