{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Étiquettes{% endblock %}

{% block admin %}
    <header>
        <h1>Étiquettes</h1>
        <h2>Liste des étiquettes</h2>
        <p>Ici vous pouvez accèder à la liste des étiquettes de {{ site_name }}.</p>
    </header>
    {% include "admin/includes/_tag_tabs.html.twig" %}
    <section id="search">
        <div class="jumbotron">
            <form method="GET" class="form-horizontal">
                <div class="form-group">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <label class="control-label col-sm-4" for="inputName">Nom</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="inputName" class="form-control"
                                   value="{{ app.request.get('name') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <label class="control-label col-sm-4" for="inputType">Type</label>
                        <div class="col-sm-8">
                            <input type="text" name="type" id="inputType" class="form-control"
                                   value="{{ app.request.get('type') }}"/>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <label class="control-label col-sm-4" for="selectLabel">Label</label>
                        <div class="col-sm-8">
                            <select name="label" id="selectLabel" class="form-control">
                                <option value="">Tous</option>
                                <option value="default"
                                        {% if app.request.get('label') == "default" %}selected{% endif %}>
                                    default
                                </option>
                                <option value="primary"
                                        {% if app.request.get('label') == "primary" %}selected{% endif %}>
                                    primary
                                </option>
                                <option value="info"
                                        {% if app.request.get('label') == "info" %}selected{% endif %}>
                                    info
                                </option>
                                <option value="success"
                                        {% if app.request.get('label') == "success" %}selected{% endif %}>
                                    success
                                </option>
                                <option value="warning"
                                        {% if app.request.get('label') == "warning" %}selected{% endif %}>
                                    warning
                                </option>
                                <option value="danger"
                                        {% if app.request.get('label') == "danger" %}selected{% endif %}>
                                    danger
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 text-right pull-right">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Filtrer ({{ tags.count }})
                        </button>
                        <button id="reset" class="btn btn-warning">
                            <span class="glyphicon glyphicon-remove"></span> Effacer
                        </button>
                    </div>

                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="order" value="{{ app.request.query.get('order', 'id') }}"/>
                    <input type="hidden" name="way" value="{{ app.request.query.get('way', 'ASC') }}"/>
                </div>
            </form>
        </div>
    </section>

    <section id="tag-list">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="{{ app.request.query.get('order') == 'name' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_tag_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'name',
                            'way'   : app.request.query.get('order') == 'name'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Nom
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'type' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_tag_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'type',
                            'way'   : app.request.query.get('order') == 'type'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Type
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'label' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_tag_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'label',
                            'way'   : app.request.query.get('order') == 'label'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Label
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j-posts' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_tag_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j-posts',
                            'way'   : app.request.query.get('order') == 'j-posts'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Publications
                        </a>
                    </th>


                    <th class="{{ app.request.query.get('order') == 'j-sections' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_tag_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j-sections',
                            'way'   : app.request.query.get('order') == 'j-sections'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Sections
                        </a>
                    </th>

                    <th class="{{ app.request.query.get('order') == 'j-pages' ? app.request.query.get('way', 'ASC') }}">
                        <a href="{{ path('app_admin_tag_index', app.request.query.all|merge({
                            'page'  : 1,
                            'order' : 'j-pages',
                            'way'   : app.request.query.get('order') == 'j-pages'
                            and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                            Pages
                        </a>
                    </th>

                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    {% set tag = tag[0] %}
                    <tr>
                        <td>
                            {{ tag.name }}
                        </td>

                        <td>
                            {{ tag.type }}
                        </td>

                        <td>
                            <span class="label label-{{ tag.label }}">{{ tag.label }}</span>
                        </td>

                        <td>
                            {% if tag.posts|length > 1 %}
                                <a href="{{ path('app_admin_post_index', { 'tag': tag.name }) }}"
                                   class="label label-success"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ tag.posts|length }} publications possédant l'étiquette &quot;{{ tag }}&quot;"
                                >
                                    Publications
                                    <span class="badge-sm text-success">{{ tag.posts|length }}</span>
                                </a><br/>
                            {% endif %}

                            {% for post in tag.posts %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_post_index', { 'title': post.title }) }}"
                                       class="label label-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de l'article &quot;{{ post|truncate(20) }}&quot;"
                                    >
                                        {{ post|truncate(20) }}
                                    </a><br/>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'étiquette &quot;{{ tag }}&quot; n'a été attribuée à aucune publication"
                                >Aucune publication</span>
                            {% endfor %}
                        </td>

                        <td>
                            {% if tag.sections|length > 1 %}
                                <a href="{{ path('app_admin_section_index', { 'tag': tag.name }) }}"
                                   class="label label-success"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ tag.sections|length }} sections possédant l'étiquette &quot;{{ tag }}&quot;"
                                >
                                    Sections
                                    <span class="badge-sm text-success">{{ tag.sections|length }}</span>
                                </a><br/>
                            {% endif %}

                            {% for section in tag.sections %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_section_index', { 'title': section.title }) }}"
                                       class="label label-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de la section &quot;{{ section|truncate(20) }}&quot;"
                                    >
                                        {{ section|truncate(20) }}
                                        <span class="badge-sm text-primary">{{ section.posts|length }}</span>
                                    </a><br/>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'étiquette &quot;{{ tag }}&quot; n'a été attribuée à aucune section"
                                >
                                    Aucune section
                                </span>
                            {% endfor %}
                        </td>

                        <td>
                            {% if tag.pages|length > 1 %}
                                <a href="{{ path('app_admin_page_index', { 'tag': tag.name }) }}"
                                   class="label label-success"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Lister les {{ tag.pages|length }} pages possédant l'étiquette &quot;{{ tag }}&quot;"
                                >
                                    Pages
                                    <span class="badge-sm text-success">{{ tag.pages|length }}</span>
                                </a><br/>
                            {% endif %}

                            {% for page in tag.pages %}
                                {% if loop.index < 6 %}
                                    <a href="{{ path('app_admin_page_index', { 'title': page.title }) }}"
                                       class="label label-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Voir le détail de la page &quot;{{ page|truncate(20) }}&quot;"
                                    >
                                        {{ page|truncate(20) }}
                                    </a><br/>
                                {% elseif loop.last %}
                                    <span class="label label-primary">...</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-danger"
                                      data-toggle="tooltip" data-placement="top"
                                      data-original-title="L'étiquette &quot;{{ tag }}&quot; n'a été attribuée à aucune page"
                                >Aucune page</span>
                            {% endfor %}
                        </td>

                        <td>
                            <a href="{{ path('app_admin_tag_edit', { 'id': tag.id, 'callback': app.request.uri|callback }) }}"
                               class="btn btn-warning btn-sm"
                               data-toggle="tooltip" data-placement="top"
                               data-original-title="Modifier l'étiquette &quot;{{ tag }}&quot;"
                            >
                                <span class="glyphicon glyphicon-edit"></span>
                                <span class="hidden-xs">Modifier</span>
                            </a>
                        </td>

                        <td data-toggle="tooltip" data-placement="top"
                            data-original-title="Supprimer l'étiquette &quot;{{ tag }}&quot;"
                        >
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target=".my-modal" data-item="{{ tag }}"
                                    data-path="{{ path('app_admin_tag_delete', { 'id': tag.id, 'callback': app.request.uri|remove_query }) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Supprimer</span>
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            {{ pagination(tags) }}
        </div>
    </section>
    {% include "admin/includes/_delete-tag-modal.html.twig" %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}