{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Utilisateurs{% endblock %}

{% block admin %}
    <header>
        <h1>Utilisateurs</h1>
        <h2>Liste des utilisateurs</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p>Ici vous pouvez accèder à la liste complète des utilisateurs de <strong>{{ site_name }}</strong>.</p>
        {% else %}
            <p>Vous devez possèder des droits administrateur pour accéder à ces informations.</p>
        {% endif %}
    </header>
    {% include "admin/includes/_user_tabs.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}
        <section id="search">
            <div class="jumbotron">
                <form method="GET" class="form-horizontal">
                    <div class="form-group">

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="control-label col-sm-4" for="inputId">Id</label>
                            <div class="col-sm-8">
                                <input type="number" name="id" id="inputId" class="form-control"
                                       value="{{ app.request.get('id') }}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="control-label col-sm-4" for="inputUsername">Utilisateur</label>
                            <div class="col-sm-8">
                                <input type="text" name="username" id="inputUsername" class="form-control"
                                       value="{{ app.request.get('username') }}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="control-label col-sm-4" for="inputEmail">Email</label>
                            <div class="col-sm-8">
                                <input type="text" name="email" id="inputEmail" class="form-control"
                                       value="{{ app.request.get('email') }}"/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="control-label col-sm-4" for="selectPassword">Status</label>
                            <div class="col-sm-8">
                                <select name="password" id="selectPassword" class="form-control">
                                    <option value="">Tous</option>
                                    <option value="true"
                                            {% if app.request.get('password') == "true" %}selected{% endif %}>
                                        Actif
                                    </option>
                                    <option value="false"
                                            {% if app.request.get('password') == "false" %}selected{% endif %}>
                                        Inactif
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="control-label col-sm-4" for="selectRole">Role</label>
                            <div class="col-sm-8">
                                <select name="role" id="selectRole" class="form-control">
                                    <option value="">Tous</option>
                                    <option value="ROLE_SUPER_ADMIN"
                                            {% if app.request.get('role') == "ROLE_SUPER_ADMIN" %}selected{% endif %}>
                                        ROLE_SUPER_ADMIN
                                    </option>
                                    <option value="ROLE_ADMIN"
                                            {% if app.request.get('role') == "ROLE_ADMIN" %}selected{% endif %}>
                                        ROLE_ADMIN
                                    </option>
                                    <option value="ROLE_SUPER_USER"
                                            {% if app.request.get('role') == "ROLE_SUPER_USER" %}selected{% endif %}>
                                        ROLE_SUPER_USER
                                    </option>
                                    <option value="ROLE_USER"
                                            {% if app.request.get('role') == "ROLE_USER" %}selected{% endif %}>
                                        ROLE_USER
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right pull-right">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Filtrer ({{ users.count }})
                            </button>
                            <button id="reset" class="btn btn-warning">
                                <span class="glyphicon glyphicon-remove"></span> Effacer
                            </button>
                        </div>

                        <input type="hidden" name="page" value="1"/>
                        <input type="hidden" name="order" value="{{ app.request.query.get('order', 'username') }}"/>
                        <input type="hidden" name="way" value="{{ app.request.query.get('way', 'ASC') }}"/>
                    </div>
                </form>
            </div>
        </section>

        <section id="user-list">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="{{ app.request.query.get('order') == 'id' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'id',
                                'way'   : app.request.query.get('order') == 'id'
                                and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                                Id
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'username' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'username',
                                'way'   : app.request.query.get('order') == 'username'
                                and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                                Utilisateur
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'email' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'email',
                                'way'   : app.request.query.get('order') == 'email'
                                and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'})) }}">
                                Email
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'created' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'created',
                                'way'   : app.request.query.get('order') == 'created'
                                and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                                Création
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'modified' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'modified',
                                'way'   : app.request.query.get('order') == 'modified'
                                and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                                Modification
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'posts' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'posts',
                                'way'   : app.request.query.get('order') == 'posts'
                                and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                                Articles
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'comments' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'comments',
                                'way'   : app.request.query.get('order') == 'comments'
                                and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                                Commentaires
                            </a>
                        </th>

                        <th class="{{ app.request.query.get('order') == 'password' ? app.request.query.get('way', 'ASC') }}">
                            <a href="{{ path('app_admin_user_index', app.request.query.all|merge({
                                'page'  : 1,
                                'order' : 'password',
                                'way'   : app.request.query.get('order') == 'password'
                                and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'})) }}">
                                Actif
                            </a>
                        </th>

                        <th>Role</th>

                        {#<th colspan="2">Token</th>#}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th colspan="2">
                                Actions
                            </th>
                        {% else %}
                            <th colspan="1">
                                Actions
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% set user = user[0] %}
                        <tr>
                            <td>
                                <a href="{{ path('app_user_show', { 'slug': user.slug }) }}">
                                    {{ user.id }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_user_show', { 'slug': user.slug }) }}">
                                    {{ user.username }}
                                </a>
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.created|date('d/m/Y H:i:s') }}
                            </td>
                            <td>
                                {{ user.modified|date('d/m/Y H:i:s') }}
                            </td>
                            <td>
                                <a href="{{ path('app_admin_post_index', {'user' : user.username}) }}">
                                    <span class="label label-primary">
                                        {{ user.posts|length }}
                                    </span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_admin_comment_index', {'user' : user.username}) }}">
                                    <span class="label label-success">
                                        {{ user.comments|length }}
                                    </span>
                                </a>
                            </td>
                            <td>
                                {% if user.password %}
                                    <a href="{{ path('app_admin_user_index', {'status' : 1}) }}">
                                        <span class="btn btn-success btn-xs"
                                              data-toggle="tooltip" data-placement="top"
                                              data-original-title="Utilisateur valide">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_admin_user_index', {'status' : 0}) }}">
                                        <span class="btn btn-danger btn-xs"
                                              data-toggle="tooltip" data-placement="top"
                                              data-original-title="Utilisateur inactif">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </span>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                    <span class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-king"
                                              data-toggle="tooltip" data-placement="top"
                                              data-original-title="Super Administateur"></span>
                                    </span>
                                {% elseif 'ROLE_ADMIN' in user.roles %}
                                    <span class="btn btn-warning btn-sm">
                                        <span class="glyphicon glyphicon-tower"
                                              data-toggle="tooltip" data-placement="top"
                                          data-original-title="Administateur"></span>
                                    </span>
                                {% elseif 'ROLE_SUPER_USER' in user.roles %}
                                    <span class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-bishop"
                                              data-toggle="tooltip" data-placement="top"
                                          data-original-title="Super Utilisateur"></span>
                                    </span>
                                {% else %}
                                    <span class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pawn"
                                              data-toggle="tooltip" data-placement="top"
                                          data-original-title="Utilisateur"></span>
                                    </span>
                                {% endif %}

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                        {# super admin cannot change his own role #}
                                        {% if (user.id == app.user.id) %}
                                            <span class="btn btn-warning btn-xs disabled">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </span>
                                        {% else %}
                                            <a href="{{ path('app_admin_user_removerole', app.request.query.all|merge({
                                                'id'       : user.id,
                                                'remove'   : 'ROLE_SUPER_ADMIN',
                                                'callback' : app.request.uri|callback
                                            })) }}"
                                               class="btn btn-warning btn-xs">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        {% endif %}
                                        <span class="btn btn-success btn-xs disabled">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </span>
                                    {% elseif 'ROLE_ADMIN' in user.roles %}
                                        <a href="{{ path('app_admin_user_removerole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'remove'   : 'ROLE_ADMIN',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-warning btn-xs">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                        <a href="{{ path('app_admin_user_addrole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'add'      : 'ROLE_SUPER_ADMIN',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    {% elseif 'ROLE_SUPER_USER' in user.roles %}
                                        <a href="{{ path('app_admin_user_removerole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'remove'   : 'ROLE_SUPER_USER',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-warning btn-xs">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                        <a href="{{ path('app_admin_user_addrole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'add'      : 'ROLE_ADMIN',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    {% else %}
                                        <span class="btn btn-warning btn-xs disabled">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </span>
                                        <a href="{{ path('app_admin_user_addrole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'add'      : 'ROLE_SUPER_USER',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    {% endif %}
                                {% endif %}

                            </td>
                            {#<td>#}
                            {#<a href="{{ path('app_resend_token', { 'id': user.id }) }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-share"></span>&nbsp;Renvoyer</button>#}
                            {#</td>#}
                            {#{% if user.token %}#}
                            {#<td>#}
                            {#<a href="{{ path('app_validate', { 'id': user.id }) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Valider</button>#}
                            {#</td>#}
                            {#{% else %}#}
                            {#<td>#}
                            {#<span class="glyphicon glyphicon-ok text-success"></span>#}
                            {#</td>#}
                            {#{% endif %}#}
                            <td>
                                <a href="{{ path('app_admin_user_edit', { 'id' : user.id, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-warning btn-sm"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Modifier l'utilisateur">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Modifier
                                </a>
                            </td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                            data-target=".my-modal" data-item="{{ user.username }}"
                                            data-path="{{ path('app_admin_user_delete', { 'id' : user.id, 'callback': app.request.uri|remove_query }) }}"
                                            data-toggle="tooltip" data-placement="top"
                                            data-original-title="Supprimer l'utilisateur"
                                            {% if 'ROLE_SUPER_ADMIN' in user.roles %} disabled{% endif %}>
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Supprimer
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                {{ pagination(users) }}
            </div>
        </section>
        {% include "admin/includes/_delete-user-modal.html.twig" %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}
