{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Utilisateurs{% endblock %}

{% block head %}
    {{ parent() }}
    {{ pagination(users, 'meta') }}
{% endblock %}

{% block admin %}
    <header>
        <h1>Utilisateurs</h1>
        <h2>Liste des utilisateurs</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p>Ici vous pouvez accèder à la liste complète des utilisateurs de <strong>{{ site_name }}</strong>.</p>
        {% else %}
            <p>Vous devez possèder des droits administrateur pour accéder à ces informations.</p>
        {% endif %}
    </header>
    {% include "admin/includes/_user_tabs.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}

        <section id="search">
            <div class="jumbotron">
                {{ searchForm(form) }}
            </div>
        </section>

        <section id="user-list">
            <div class="table-responsive">
                <table class="table table-striped">
                    {{ thead(thead) }}
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path('app_user_show', { 'slug': user.slug }) }}" class="cover"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Afficher le profil de &quot;{{ user }}&quot;"
                                   style="padding-bottom: 30px; width: 30px; background-image: url('{{ user.avatar ? user.avatar : asset('img/user.jpg') }}');">
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_user_show', { 'slug': user.slug }) }}">
                                    {{ user }}
                                </a>
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {% if user.postCount > 1 %}
                                    <a href="{{ path('app_admin_post_index', { 'user-username' : user.username }) }}"
                                       class="label label-success label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Lister les {{ user.posts|length }} articles publiés par &quot;{{ user }}&quot;"
                                    >
                                        <span class="glyphicon glyphicon-text-color"></span>
                                        Articles
                                        <span class="badge-sm pull-right">
                                            {{ user.posts|length }}
                                        </span>
                                    </a>
                                {% endif %}
                                {% if user.postCount %}
                                    {% for post in user.posts %}
                                        {% if post.type == 'post' %}
                                            {% if loop.index - user.postCount < 6 %}
                                                <a href="{{ path('app_admin_post_index', { 'title' : post.title }) }}"
                                                   class="label label-primary label-block"
                                                   data-toggle="tooltip" data-placement="top"
                                                   data-original-title="Voir le détail de l'article &quot;{{ post }}&quot; publié par &quot;{{ user }}&quot;"
                                                >
                                            <span class="label-text">
                                                {{ post|slice(0, 50) }}
                                            </span>
                                                </a>
                                            {% elseif loop.last %}
                                                <span class="label label-primary">...</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="label label-danger label-block"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="&quot;{{ user }}&quot; n'a publié aucun article"
                                    >
                                        <span class="glyphicon glyphicon-text-color"></span>
                                        Aucun article
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.mediaCount > 1 %}
                                    <a href="{{ path('app_admin_post_index', { 'user-username' : user.username }) }}"
                                       class="label label-success label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Lister les {{ user.posts|length }} articles publiés par &quot;{{ user }}&quot;"
                                    >
                                        <span class="glyphicon glyphicon-text-color"></span>
                                        Média
                                        <span class="badge-sm pull-right">
                                            {{ user.posts|length }}
                                        </span>
                                    </a>
                                {% endif %}
                                {% if user.mediaCount %}
                                    {% for post in user.posts %}
                                        {% if post.type == 'media' %}
                                            {% if loop.index - user.mediaCount < 6 %}
                                                <a href="{{ path('app_admin_media_index', { 'title' : post.title }) }}"
                                                   class="label label-primary label-block"
                                                   data-toggle="tooltip" data-placement="top"
                                                   data-original-title="Voir le détail du média &quot;{{ post }}&quot; publié par &quot;{{ user }}&quot;"
                                                >
                                            <span class="label-text">
                                                {{ post|slice(0, 50) }}
                                            </span>
                                                </a>
                                            {% elseif loop.last %}
                                                <span class="label label-primary">...</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="label label-danger label-block"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="&quot;{{ user }}&quot; n'a publié aucun média"
                                    >
                                        <span class="glyphicon glyphicon-text-color"></span>
                                        Aucun média
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.comments|length > 1 %}
                                    <a href="{{ path('app_admin_comment_index', { 'user-username' : user.username }) }}"
                                       class="label label-success label-block"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="Lister les {{ user.comments|length }} commentaires publiés par &quot;{{ user }}&quot;"
                                    >
                                        <span class="glyphicon glyphicon-comment"></span>
                                        Commentaires
                                        <span class="badge-sm pull-right">
                                            {{ user.comments|length }}
                                        </span>
                                    </a>
                                {% endif %}
                                {% for comment in user.comments %}
                                    {% if loop.index < 6 %}
                                        <a href="{{ path('app_admin_comment_index', { 'user-username' : user.username }) }}"
                                           class="label label-primary label-block"
                                           data-toggle="tooltip" data-placement="top"
                                           data-original-title="Voir le détail du commentaire &quot;{{ comment }}&quot; publié par &quot;{{ user }}&quot;"
                                        >
                                            <span class="label-text">
                                                {{ comment|slice(0, 50) }}
                                            </span>
                                        </a>
                                    {% elseif loop.last %}
                                        <span class="label label-primary">...</span>
                                    {% endif %}
                                {% else %}
                                    <span class="label label-danger label-block"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="&quot;{{ user }}&quot; n'a publié aucun commentaire"
                                    >
                                        <span class="glyphicon glyphicon-comment"></span>
                                        Aucun commentaire
                                    </span>
                                {% endfor %}
                            </td>
                            <td>
                                <span class="small">
                                    {{ user.created|date('d/m/Y H:i:s') }}
                                </span>
                            </td>
                            <td>
                                {% if user.password %}
                                    <span class="btn btn-success btn-xs"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="L'utilisateur &quot;{{ user }}&quot; est valide"
                                    >
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </span>
                                {% else %}
                                    <span class="btn btn-danger btn-xs"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="L'utilisateur &quot;{{ user }}&quot; est inactif"

                                    >
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                    <span class="btn btn-danger btn-sm"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="Super Administrateur">
                                        <span class="glyphicon glyphicon-king"></span>
                                    </span>
                                {% elseif 'ROLE_ADMIN' in user.roles %}
                                    <span class="btn btn-warning btn-sm"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="Administrateur">
                                        <span class="glyphicon glyphicon-tower"></span>
                                    </span>
                                {% elseif 'ROLE_SUPER_USER' in user.roles %}
                                    <span class="btn btn-success btn-sm"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="Super Utilisateur">
                                        <span class="glyphicon glyphicon-bishop"></span>
                                    </span>
                                {% else %}
                                    <span class="btn btn-primary btn-sm"
                                          data-toggle="tooltip" data-placement="top"
                                          data-original-title="Utilisateur">
                                        <span class="glyphicon glyphicon-pawn"></span>
                                    </span>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                        {# super admin cannot change his own role #}
                                        {% if (user.id == app.user.id) %}
                                            <span class="btn btn-warning btn-xs disabled">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </span>
                                        {% else %}
                                            <a href="{{ path('app_admin_user_removerole', app.request.query.all|merge({
                                                'id'       : user.id,
                                                'remove'   : 'ROLE_SUPER_ADMIN',
                                                'callback' : app.request.uri|callback
                                            })) }}"
                                               class="btn btn-warning btn-xs"
                                               data-toggle="tooltip" data-placement="top"
                                               data-original-title="Retirer les droits super administrateur de &quot;{{ user }}&quot;">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        {% endif %}
                                        <span class="btn btn-success btn-xs disabled">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </span>
                                    {% elseif 'ROLE_ADMIN' in user.roles %}
                                        <a href="{{ path('app_admin_user_removerole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'remove'   : 'ROLE_ADMIN',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-warning btn-xs"
                                           data-toggle="tooltip" data-placement="top"
                                           data-original-title="Retirer les droits administrateur de &quot;{{ user }}&quot;">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                        <a href="{{ path('app_admin_user_addrole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'add'      : 'ROLE_SUPER_ADMIN',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-success btn-xs"
                                           data-toggle="tooltip" data-placement="top"
                                           data-original-title="Promouvoir &quot;{{ user }}&quot;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    {% elseif 'ROLE_SUPER_USER' in user.roles %}
                                        <a href="{{ path('app_admin_user_removerole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'remove'   : 'ROLE_SUPER_USER',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-warning btn-xs"
                                           data-toggle="tooltip" data-placement="top"
                                           data-original-title="Retirer les droits super utilisateur de &quot;{{ user }}&quot;">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a>
                                        <a href="{{ path('app_admin_user_addrole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'add'      : 'ROLE_ADMIN',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-success btn-xs"
                                           data-toggle="tooltip" data-placement="top"
                                           data-original-title="Promouvoir &quot;{{ user }}&quot;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    {% else %}
                                        <span class="btn btn-warning btn-xs disabled">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </span>
                                        <a href="{{ path('app_admin_user_addrole', app.request.query.all|merge({
                                            'id'       : user.id,
                                            'add'      : 'ROLE_SUPER_USER',
                                            'callback' : app.request.uri|callback
                                        })) }}"
                                           class="btn btn-success btn-xs"
                                           data-toggle="tooltip" data-placement="top"
                                           data-original-title="Promouvoir &quot;{{ user }}&quot;">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {#<td>#}
                                {#<a href="{{ path('app_resend_token', { 'id': user.id }) }}" class="btn btn-info btn-sm">#}
                                    {#<span class="glyphicon glyphicon-share"></span>#}
                                    {#Renvoyer#}
                                {#</a>#}
                            {#</td>#}
                            {#{% if user.token %}#}
                                {#<td>#}
                                    {#<a href="{{ path('app_validate', { 'id': user.id }) }}"#}
                                       {#class="btn btn-success btn-sm"><span#}
                                                {#class="glyphicon glyphicon-thumbs-up"></span>#}
                                        {#Valider#}
                                    {#</a>#}
                                {#</td>#}
                            {#{% else %}#}
                                {#<td>#}
                                    {#<span class="glyphicon glyphicon-ok text-success"></span>#}
                                {#</td>#}
                            {#{% endif %}#}
                            <td>
                                <a href="{{ path('app_admin_user_edit', { 'id' : user.id, 'callback': app.request.uri|callback }) }}"
                                   class="btn btn-warning btn-sm"
                                   data-toggle="tooltip" data-placement="top"
                                   data-original-title="Modifier le profil de &quot;{{ user }}&quot;"
                                >
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span class="hidden-xs">Modifier</span>
                                </a>
                            </td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td data-toggle="tooltip" data-placement="top"
                                    data-original-title="Supprimer le profil de &quot;{{ user }}&quot;"
                                >
                                    <button type="button" class="btn btn-danger btn-sm"
                                            data-toggle="modal" data-target=".my-modal"
                                            data-item="{{ user }}"
                                            data-path="{{ path('app_admin_user_delete', { 'id' : user.id, 'callback': url(app.request.attributes.get('_route')) }) }}"
                                            {% if 'ROLE_SUPER_ADMIN' in user.roles %} disabled{% endif %}>
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span class="hidden-xs">Supprimer</span>
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                {{ pagination(users, 'select_with_icon') }}
                {{ pagination(users, 'smart') }}
            </div>
        </section>
        {% include "admin/includes/_delete-modal.html.twig" with { 'msg': 'l\'utilisateur', 'msg2': 'et tous ses articles' } %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
        $('#reset').click(function () {
            $('form').find('input:text, input:password, input[type="number"], select, textarea').val('');
            $('form').find('input:radio, input:checkbox').prop('checked', false);
        });
    </script>
{% endblock %}
