{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="col-xs-12 col-md-2">
            {% include "admin/includes/_sidebar.html.twig" %}
        </div>

        <div class="col-xs-12 col-md-10">

            <header>
                <h1>Utilisateurs</h1>
                <h2>Liste des utilisateurs</h2>
                {% if is_granted('ROLE_ADMIN') %}
                    <p>Vous pouvez ici accèder à la liste des utilisateurs de {{ site_name }}.</p>
                {% else %}
                    <p>Vous devez possèder des droits administrateur pour accéder à ces informations.</p>
                {% endif %}
            </header>

            {% include "admin/includes/_user_tabs.html.twig" %}

            {% if is_granted('ROLE_ADMIN') %}
                <section id="user-list">
                    <div class="table-responsive">
                        <table id="user-index" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="{{ app.request.query.get('order') == 'id' ? app.request.query.get('way', 'ASC') }}">
                                    <a href="{{ path('app_admin_user_index', {'order': 'id' ,'way': app.request.query.get('order') ==
                                        'id' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                        Id
                                    </a>
                                </th>

                                <th class="{{ app.request.query.get('order') == 'username' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('app_admin_user_index', {'order': 'username' ,'way': app.request.query.get('order') ==
                                        'username' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'}) }}">
                                        Utilisateur
                                    </a>
                                </th>

                                <th class="{{ app.request.query.get('order') == 'email' ? app.request.query.get('way', 'ASC') }}">
                                    <a href="{{ path('app_admin_user_index', {'order': 'email' ,'way': app.request.query.get('order') ==
                                        'email' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                        Email
                                    </a>
                                </th>
                                <th class="{{ app.request.query.get('order') == 'dateCreated' ? app.request.query.get('way', 'ASC') }}">
                                    <a href="{{ path('app_admin_user_index', {'order': 'dateCreated' ,'way': app.request.query.get('order') ==
                                        'dateCreated' and app.request.query.get('way', 'ASC') == 'ASC' ? 'DESC' : 'ASC'}) }}">
                                        Date de création
                                    </a>
                                </th>

                                <th class="{{ app.request.query.get('order') == 'posts' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('app_admin_user_index', {'order': 'posts' ,'way': app.request.query.get('order') ==
                                        'posts' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'}) }}">
                                        Post
                                    </a>
                                </th>

                                <th class="{{ app.request.query.get('order') == 'comments' ? app.request.query.get('way', 'DESC') }}">
                                    <a href="{{ path('app_admin_user_index', {'order': 'comments' ,'way': app.request.query.get('order') ==
                                        'comments' and app.request.query.get('way', 'DESC') == 'DESC' ? 'ASC' : 'DESC'}) }}">
                                        Commentaires
                                    </a>
                                </th>

                                {#<th>Role</th>#}
                                {#<th colspan="2">Token</th>#}

                                <th colspan="2">
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% set user = user[0] %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_user_show', { 'slug':user.slug }) }}">
                                            {{ user.id }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_user_show', { 'slug':user.slug }) }}">
                                            {{ user.username }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.dateCreated|date('d/m/Y H:i:s') }}
                                    </td>
                                    <td>
                                <span class="label label-primary">
                                    {{ user.posts | length }}
                                </span>
                                    </td>
                                    <td>
                                <span class="label label-success">
                                    {{ user.comments | length }}
                                </span>
                                    </td>
                                    <td>
                                        {% if 'ROLE_ADMIN' in user.roles %}
                                            <a href="{{ path('admin_remove_role', { 'id': user.id, 'role': 'ROLE_ADMIN' }) }}"
                                               class="btn btn-warning btn-sm{% if (user.id == app.user.id) %} disabled{% endif %}">
                                                <span class="glyphicon glyphicon-king"></span>
                                                admin
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_admin_user_addrole', { 'id': user.id, 'role': 'ROLE_ADMIN' }) }}"
                                               class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-pawn"></span>
                                                user
                                            </a>
                                        {% endif %}
                                    </td>
                                    {#<td>#}
                                    {#<a href="{{ path('app_resend_token', { 'id': user.id }) }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-share"></span>&nbsp;Renvoyer</button>#}
                                    {#</td>#}
                                    {#{% if user.token %}#}
                                    {#<td>#}
                                    {#<a href="{{ path('app_validate', { 'id': user.id }) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Valider</button>#}
                                    {#</td>#}
                                    {#{% else %}#}
                                    {#<td>#}
                                    {#<span class="glyphicon glyphicon-ok text-success"></span>#}
                                    {#</td>#}
                                    {#{% endif %}#}
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                data-target=".my-modal" data-username="{{ user.username }}"
                                                data-url="{{ path('app_admin_user_delete', { 'id': user.id, 'callback': app.request.uri }) }}"{% if 'ROLE_ADMIN' in user.roles %} disabled{% endif %}>
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Supprimer
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        {{ pagination(users) }}
                    </div>
                </section>

                {% include "admin/includes/_delete-modal.html.twig" %}

            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
